body {
    background-color: powderblue;
}
h1 {
	font-family: Lucida Console;
	font-size: 24px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 500;
	line-height: 26.4px;
}
h2 {


}
h3 {


}
p {
font-family: monaco;
font-size: 12px;
font-style: normal;
font-variant: normal;
font-weight: 500;
line-height: 26.4px;


}
